@import 'mixin';

// =============================================================================
// Styling
// =============================================================================


$maingreen : #39b54a;
$maingrey : #c1c1c1;
$mainbordercolor : #e6e6e6;
$mainorange : #f15a29;
$mainfontsize: 14px;

@include font-face('Gotham-Rounded', '../fonts/Gotham-Rounded-Book');
@include font-face('Gotham-Rounded-Medium', '../fonts/Gotham-Rounded-Medium');
@include font-face('karmatic', '../fonts/kr1');
@include font-face('Gotham-Book', '../fonts/Gotham-Book');
@include font-face('Komika', '../fonts/komika');
@include font-face('Kartika', '../fonts/kartika');
@include font-face('Architext', '../fonts/architext.regular');
@include font-face('badabb', '../fonts/BADABB__');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body{
	background-color:#fff;
	font-size:$mainfontsize;
	font-family: 'Lato', sans-serif;
}

button,a{
	cursor:pointer;
}

.container {
	@media (min-width: 768px){
	    max-width: 750px;	
	}
	@media (min-width: 992px){
		max-width: 960px;
	}
	@media (min-width: 1200px){
	    max-width: 1050px;
	}
}

input, select,textarea,.form-control{
	font-size:$mainfontsize;
}

.alert{
    padding: 0px;
    margin-top: 0.35rem;
    background-color: transparent;
    border: 0px;
    font-size: 12px;
    color:$mainorange;
}

a{
	color:$maingreen;
	&:hover{
		text-decoration:none;
		color:#339b41;
	}
}

p1{
	display:block;
	margin-bottom:5px;
}

.green{
	color:$maingreen;
}

.orange{
	color:$mainorange;
}

.grey{
	color:$maingrey;
}

.empty-products{
	font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px;
}

.badge{
    padding: 0.25rem 0.25rem;
    text-align: center;
    border-radius: 50%;
    min-height: 18px;
    min-width: 19px;
}

.badge-orange{
	background-color:$mainorange;
}


.product-rating{
	i{
		color:#afafaf;
		&.active{
			color: #ff9728;
		}
	}
}

.border-bottom{
	border-bottom:1px solid #eeeeee;
}


.date_wrapper{
	position:relative;
}
.date-picker + i{
	position: absolute;
    bottom: 10px;
    right: 24px;
    top: 10px;
    cursor: pointer;
    color:$maingreen;
    font-size:16px;
}

.img-dashboard_wrapper{
	height: 136px;
    width: 120px;
    img{
	    max-height:136px;
	    max-width: 100%;
	    margin:0 auto;	    
	    width:auto !important;
    }
    text-align: center;
    min-height:136px;
    max-height:136px;
    max-width: 100%;
    display: flex !important;
    align-items:center;
    position:relative;
    .img-overlay:after{
    		margin: 42% auto;
    }
}
.img-overlay{
	width: 100%;
    height: 100%;
    top:0;
    padding-bottom: 0px;
    background: rgba(51,51,51,.2);
    position:absolute;
	&:after {
	    content: "";
	    border-radius: 50%;
	    width: 30px;
	    height: 30px;
	    left: 0;
	    right: 0;
	    margin: 34% auto;
	    position: absolute;
	    text-indent: -9999em;
	    border-top: 5px solid rgba(255,255,255,.2);
	    border-right: 5px solid rgba(255,255,255,.2);
	    border-bottom: 5px solid rgba(255,255,255,.2);
	    border-left: 5px solid #fff;
	    -webkit-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	    transform: translateZ(0);
	    -webkit-animation: loader 1.1s infinite linear;
	    animation: loader 1.1s infinite linear;
	    }
}

.product-name{
	a{
		color:#222222;
		&:hover{
			color:$maingreen;
			transition:.3s all ease-in;
		}
	}
}

.action-showpage{
	margin-top:1rem;
	color:#595959;
	select{
		padding: 4px 6px;
	    color: #555555;
	    border: 1px solid #cccccc;
	}
}

.radio-custom_wrapper{
	padding:8px 0px;
	.custom-radio{
		margin-bottom:0px;
		color:#3d3d3d;
		input{
			left: 0;
		    height: 16px;
		    width: 16px;
		    top: 4px;		
		}
		.custom-control-indicator{
			cursor:pointer;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%239a9a9a'/%3E%3C/svg%3E");
			background-color:#fff;
			border:1px solid #9a9a9a;
		}
		.custom-control-input:checked ~ .custom-control-indicator{
			color:$maingreen;
			background-color:#fff;
			border:1px solid $maingreen;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2339b54a'/%3E%3C/svg%3E");
		}
		.custom-control-input:focus ~ .custom-control-indicator{
			box-shadow:none;
		}
	}
	.price-delivery{
		display:inline-block;
		font-size:18px;
		color:#f15a29;
		font-weight:bold;
		margin-left:1rem;
	}
}

.list-green{
	ul {
	  list-style: none;
	  padding: 0;
	}
	li {
	  padding-left: 1.5em;
	  margin-bottom:0.75rem;
	}
	li:before {
		content: "\e66c";
		color:$maingreen;
		font-size:$mainfontsize;
		display: inline-block; 
	    font-family: 'Pe-icon-7-stroke';
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	  margin-left: -1.5em; /* same as padding-left set on li */
	  width: 1.5em; /* same as padding-left set on li */
	}
}

header{
	font-family:'Gotham-Rounded';
	position:relative;
	z-index:3;
	.nav-top{
		.navbar-right a:first-child{
			margin-right:5px;
		}
	}
	.nav-search{
		background-color:$maingreen;
	    padding: 0.75rem 0px;
	    -webkit-box-shadow: 0px 1px 4px 0px rgba(36,82,42,.5);
		-moz-box-shadow: 0px 1px 4px 0px rgba(36,82,42,.5);
		box-shadow: 0px 1px 4px 0px rgba(36,82,42,.5);
		input,.btn{
			border-radius:0px;
			border:0px;
		}

		input{
			@include placeholder {
			    font-family:'Gotham-Book';
			    color:#999999;
			    font-size:$mainfontsize;
			}
		}

		.btn-search{
			background: #fff;
		    color: #000;
		    border: 0px;
		    height: 100%;
		    padding: 6px 12px 6px 10px;
		    box-shadow:none;
		    cursor:pointer;
		    font-size: 20px;
		    &:hover{
		    	color:$maingreen;
		    	transition:.3s all ease-in;
		    }
		}

		.dropdown{
			background-color:#fff;
			padding: 5px 10px;
			.btn-categories{
				font-size:$mainfontsize;
				padding: 0.4rem 0.75rem;
				color:#555555;
				font-family:'Gotham-Rounded';
			    border-left: 1px solid #cccccc;
			}
			.dropdown-menu{
			    transform: translate(10px, 35px);
			    border-radius:0px;
			    padding:0px;
				a{
					font-size:$mainfontsize;
					padding:0.5rem 1.5rem;
					&:hover{
						background-color:$maingreen;
						color:#fff;
						transition:.3s all ease-in;
					}
				}
			}
		}

		.contact-header{
			.contact-right{
				.text{
					font-family:'Gotham-Rounded';
					text-transform:uppercase;
					color:#fff;
					font-size:$mainfontsize;
				}
				.icon-hover_wrapper{
					font-size:16px;
					color:#fff;
				}
			}
			.contact-left{
				font-size:2rem;
				max-height:40.5px;
			}
			.icon-hover_wrapper a{
				color:#fff;
			}
		}
	}

	&.after-login{
		.social-top_wrapper{
		    padding: 2px 0px;
			border-bottom:1px solid #eeeeee;
			.btn-social-round{
				color:#999999;
				border-color:#999999;	
			    font-size: 15px;
			    margin-right:7px;
			    &:hover{
			    	color:$maingreen;
			    	border-color:$maingreen;
			    }		
			}
			.right{
				a{
					color:#555555;
					&:hover{
						color:$maingreen;
					}
					i{
						font-size:24px;
					}				
				}
				.badge-green{
					background-color:$maingreen;
					color:#fff;
				}
				.nav-user{
					.dropdown-menu{
						margin: 0px;
					    padding: 0px;
					    min-width: 8rem;
					    border-color:#eeeeee;
					    border-radius: 0px;
					    &:after {
							top: -8px;
						    bottom: auto;
						    left: auto;
						    right: calc(49.77% + 2px);
						    border-width: 0 8px 8px;
						    content: "";
						    position: absolute;
						    border-style: solid;
						    border-color: #fff transparent;
						    display: block;
						    width: 0;
						}
						&:before {
						    top: -10px;
						    bottom: auto;
						    left: auto;
						    right: 49.5%;
						    border-width: 0 10px 10px;
						    content: "";
						    position: absolute;
						    border-style: solid;
						    border-color: #eeeeee transparent;
						    display: block;
						    width: 0;
						}
					}
					.dropdown-toggle{
						cursor:pointer;
					}
					.dropdown-toggle:after{
						content:none;
					}
					.dropdown-item{
						font-size:$mainfontsize;
					    padding: 4px 15px;
					    &:hover,&:focus{
					    	background-color:$maingreen;
					    	color:#fff;
					    	transition:0.3s all ease-in;
					    }
					}
				}
			}
		}
		.main-menu_wrapper{
			a{
				padding:8px;
				color:#999999;
				&:hover{
					color:$maingreen;
					transition:.3s all ease-in;
				}
			}
		}
	}
}

.main-title{
	color:#222222;
	font-family: 'Lato', sans-serif;
	font-size:30px;
}

.btn{
	font-size:$mainfontsize;
	&.focus,&:focus,
	&.hover,&:hover{
		box-shadow:none;
	}
}

.btn-bgwhite{
	@include set-main-button(#fff, $maingreen);
	border:1px solid $maingreen;
	&:hover{
		@include set-main-button($maingreen, #fff);
		transition:.3s all ease-in;
	}
}

.btn-bggreen{
	@include set-main-button($maingreen, #fff);
	&:hover{
		@include set-main-button(#fff, $maingreen);
		transition:.3s all ease-in;
	}
}

.btn-bgwhite{
	@include set-main-button(#fff, $maingreen);
	&:hover{
		@include set-main-button($maingreen, #fff);
		transition:.3s all ease-in;
	}
}

.btn-square{
	border-radius:2px;
	&:hover{
		border-radius:2px;
	}
}

.btn-submit{
	@include set-submit-button($maingreen, #fff, 0px);
	text-transform:uppercase;
	&:hover{
		@include set-submit-button(#fff, $maingreen, 0px);
		transition:.3s all ease-in;
	}
}

.btn-social-round{
	border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    width: 30px;
    padding: 6px;
    text-align: center;
    height: 30px;
    margin-right:3px;
    &:hover{
    	border:1px solid $maingreen;
    	color:$maingreen;
    }
}

.btn-grey{
	@include set-submit-button(#fff, #555555, 0px);
	text-transform:uppercase;
	border-color:#cccccc;
	padding: 12px 20px;
	&:hover{
		@include set-submit-button($maingreen, #fff, 0px);
		transition:.3s all ease-in;
		padding: 12px 20px;
	}
}

.btn-owlnav{
	color:#555555;
	border:1px solid #cccccc;
	border-radius: 0px;
    padding: 2px;
    font-size:20px;
    height:27px;
    cursor:pointer;
    &:hover{
    	background-color:$maingreen;
    	color:#fff !important;
    	transition:.3s all ease-in;
    	border:1px solid $maingreen;
    }
}

.breadcrumb{
	background-color:transparent;
	font-family: 'Lato', sans-serif;
	padding:1rem 0;
	font-size:$mainfontsize;
	margin-bottom:0px;
	.breadcrumb-item + .breadcrumb-item::before{
		content: '>';
		padding:0px 5px;
		color:#999999;
	}
	a{
		color:#999999;		
	}
	.active{
		color:#222222;
		a{
			color:#222222;
		}
	}
}

.icon-hover_wrapper{
	a{
		position:relative;
		text-decoration:none;
		&:hover{
			text-decoration:none;
			transition:.3s all ease-in;
		}
		&:hover .filled{
			opacity:1;
		}
		&:hover .stroke{
			opacity:0;
		}
	}
	.stroke{
		opacity:1;	
	}
	.filled{
		opacity:0;
	    position: absolute;
	    left: 0;
	    top: 0;
	}
}

.form-check{
	font-size:12px;
	.custom-control{
		margin-bottom:0px;
		.custom-control-input{
			left:0px;
			top:0px;
		}
		.custom-control-indicator{
			top:0.05rem;
			border-radius:0px;
			border:1px solid #c1c1c1;
			background-color:#fff;
		}
		.custom-control-input:checked ~ .custom-control-indicator {
		    color: #fff;
		    background-color: $maingreen;
		    border:0px;
		}
		.custom-control-input:focus ~ .custom-control-indicator {
		    box-shadow: none;
		}
	}
	a{
		color:#222222;
		&:hover{
			color:$maingreen;
			transition:.3s all ease-in;
		}
	}
}

.product-visiblebutton{
	color:#555555;
	position:absolute;
	bottom: 0;
    top: auto;
    left: 0;
    right: 0;
	width:100%;
	font-family:'Gotham-Rounded';
	visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	.button-group{
		background-color:#fff;
	    padding: 6px 0px;
		display:inline-block;
	}
	a{
		color:#555555;
		border:0px;
		border-radius:0px;
		font-size:15px;
		padding: 3px 10px;
		&:hover{
			color:$maingreen;
			transition:.3s all ease-in;
		}
		&.btn-search{
			border-left:1px solid #cccccc;
		}
	}
	i{
		font-size:20px;
	}
}

.pagination_wrapper{
	display: flex;    
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    &.pagination-full{
    	.text{
    		position:absolute;
    	}
    }
	li{
		margin-right:10px;
		border-color:#cccccc;
		&:last-child{
			margin-right:0px;
		}
		&:hover,
		&.active{
			border-color:$maingreen !important;
    		color:#fff;
    		background-color:$maingreen;
    		transition:.3s all ease-in;
    		a.page-link{
    			color:#fff;
	    		background-color:$maingreen;
	    		transition:.3s all ease-in;
	    		border-color:$maingreen !important;
    		}
    	}
	}
	.action-showpage{
		margin-top:0px;
	}
	a{
	    padding: 5px 6px;
	    min-width:30px;
	    height:30px;
	    text-align:center;
	    border-radius: 2px !important;
    	color: #555555;
    	&:hover,
		&.active{
    		color:#fff;
    		background-color:$maingreen;
    		transition:.3s all ease-in;
    		border-color:$maingreen !important;
    	}
    	i{
    		font-size:16px;
    	}
	}
	.text{
	    padding-top: 3px !important;
	}
	@media (min-width: 768px){
		.text{
			-ms-flex: 0 0 28%;
		    flex: 0 0 28%;
		    max-width: 28%;
		    padding-left:0px;
		    padding-right:0px;
		}		
		.button-pagination{
			flex: 0 0 auto;
		    width: auto;
		    max-width: none;
		    padding-left:0px;
		    padding-right:0px;
		}
		.button-pagination-bottom{
			flex: 0 0 auto;
		    width: auto;
		    max-width: none;
		    padding-left:0px;
		    padding-right:0px;
		}	
	}

}

.newsletter{
	background-color:$mainbordercolor;
	padding:2.5rem 0px 4.5rem;
	font-size:20px;
	color:#565b70;
	font-family: 'Open Sans', sans-serif;
	.text-main{
		span{
			font-size:30px;
			font-weight:bold;
			text-transform:uppercase;
		}
	}
	.newsletter-form{
		padding:0px 10rem;
		margin-top:30px;
		.input-group{
		    padding: 5px 10px;
		    border-radius: 25px;
		    background: #fff;
		}
		input,.btn{
			border-radius:0px;
			border:0px;
		}

		input{
			@include placeholder {
			    font-family: 'Open Sans', sans-serif;
			    color:#565b70;
			    font-size:16px;
			}
		}

		.btn-search{
			background: #fff;
		    color: #000;
		    border: 0px;
		    height: 100%;
		    padding: 6px 12px 6px 10px;
		    box-shadow:none;
		    cursor:pointer;
		    font-size: 20px;
		    &:hover{
		    	color:$maingreen;
		    	transition:.3s all ease-in;
		    }
		}
	}
}

footer{
	.footer-top_wrapper{
		text-align:center;
		color:#fff;
		background-color:#565b70;
	    padding: 40px 0px;
	    .community{
	    	font-family:'Gotham-Rounded-Medium';
	    	font-style:italic;
	    	font-size:$mainfontsize;
	    }
	    .words{
	    	font-family:'komika';
	    	font-size:18px;
	    	text-transform:uppercase;
	    }
	    .social{
	    	margin-top:10px;
	    }
	    .right{
	    	position:relative;
    	    margin-left: -1%;
	    	.arrow-icon{
	    		position: absolute;
			    top: -98%;
			    left: 40%;
	    	}
	    	.text{
	    		font-family:'karmatic';
	    		margin-top:10px;
	    	}
	    	.btn-bggreen{
	    		font-family:'komika';
    		    padding: 5px 25px 7px;
    		    line-height:1.5;
	    	}
	    }
	}

	.footer-middle_wrapper{
		background-color:$maingreen;
		padding:20px 0px;
		.footer-middle{
		}
		nav{
			.nav-link{
				padding:0px 10px;
				color:#fff;
				font-family:'Gotham-Rounded-Medium';
				font-size:13px;
				text-transform:uppercase;
				&.disabled{
					padding:0px;
				}
			}
		}
	}
	.footer-bottom{
		font-family:'karmatic';
		padding:15px 2rem;
		position:relative;
		.center{
			position:absolute;
			left:50%;
		}
	}
}

.modal{
	.modal-med{
		@media (min-width: 992px){
			max-width:720px;		
		}
	}
	@media (min-width: 576px){
		.modal-dialog {
		    max-width: 520px;
		}	
		}
	.modal-content{
		border-radius:0.2rem;
	}
	.modal-header{
		border-bottom:0px;
		padding:15px 15px 10px 15px;
	}
	.close {
	    float: right;
	    font-size: 1.2rem;
	    font-weight:normal;
	    line-height: 1;
	    color: $maingreen;
	    text-shadow: 0 1px 0 #fff;
	    opacity:1;
	    border:1px solid $maingreen;
	    border-radius:50%;
	    height: 22px;
    	width: 22px;
	    &:focus{
	    	outline:none;
	    }
	}
	.modal-body{
		padding:5px 3.5rem 2.5rem;
		font-family: 'Open Sans', sans-serif;
		color:#222222;
		.title{
			font-weight:bold;
			font-family: 'Open Sans', sans-serif;
			color:#222222;
			font-size:18px;
			margin-bottom:20px;
		}
		.evaluate-list {
			margin-bottom: 20px;
			p {
				margin-bottom: 5px;
			}
			i {
				&.active {
					color: #ff9728;
				}
			}
		}
		.evaluate-feedback {
			margin-top: 20px;
			margin-bottom: 20px;
			p {
				margin-bottom: 5px;
			}	
		}
		.evaluate-review {
			margin-top: 20px;
			margin-bottom: 20px;
			p {
				margin-bottom: 5px;
			}
		}
		.content{
			color:#222222;
			label{
				line-height: 1.4;
			}
			input,
			select{
				font-size:$mainfontsize;
				padding:12px 15px;
				border-radius:0.1rem !important;
				height:auto;
				@include placeholder {
				    font-family: 'Open Sans', sans-serif;
				    color:#999999;
				    font-size:$mainfontsize;
				}
			}
			.form-agreement{
				color:#222222;
				line-height:1.3;
				font-size:10px;
			}
			.input-mobile{
				.input-group-addon{
					background-color: #fff;
				    padding-right: 5px;
				}
			    input{
			    	border-left: 0px;
    				padding-left: 5px;
			    }
			}
			.captcha-text{
				color:#999999;
				font-size:10px;
				font-style:italic;
				display:block;
			}
			.form-captcha{
				padding:10px 15px;
			}
			.btn{
				padding:10px 12px;
			}
			.form_payment{
				.form-group{
					min-height:63px;
				}
			}
		}
	}

}

.modal-upgrade{
	.modal-body{
		padding: 5px 3rem 2.5rem;
		color:#303030;
		.title{
			color: #000;
			font-size:$mainfontsize;
			border-bottom:1px solid #c1c1c1;
			padding:5px 0px !important;
		}
		ul{
			padding-left:20px;
		}
	}
}

.main-content{
	padding-bottom:30px;
}

.sidebar{
	background-color:#565b70;
	color:#fff;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
    font-size:$mainfontsize;
	a{
		color:#fff;
	    padding: 0.65rem 1rem;
		border-bottom:1px solid #4b5062;
		&:last-child{
			border-bottom:0px;
		}
		&:hover{
			color:$maingreen !important;
			transition:.3s all ease-in;
		}
		&.active{
			color:$maingreen;
		}
	}
}

.sidebar-dashboard{
	@extend .sidebar;
	padding:15px 20px;
	border:2px solid #cccccc;
	background:#fff;
	color:#3d3d3d;
	text-transform:none;
	.title{
		width:100%;
		a{
			padding:15px 0px !important;
			padding-top:0px !important;
			color:#222222;
			font-weight:600;
			display:block;
			border-bottom:1px solid #cccccc;
		}
	}
	.nav{
		border-top:1px solid #cccccc;
		margin-top:5px;
	}
	a{
		padding:0.7rem 0px;
		border-bottom:1px solid #cccccc;
		font-size:$mainfontsize;
		color:#222222;
		&:last-child{
			padding-bottom:0px;
		}
		&:hover{
			font-weight:bold;
			transition:.3s all ease-in;
		}
		&.active{
			font-weight:bold;
			color:$maingreen;
		}
	}
}

.filter-sidebar{
	padding:15px 15px;
	background-color:#f4f4f4;
	.title{
		font-family: 'Lato', sans-serif;
		color:#222222;
		font-weight:bold;
		margin-bottom:1rem;
		font-size:14px !important;
	}
	.content{
		 font-family: 'Open Sans', sans-serif;
		 color:#555555;
		 font-size:$mainfontsize;
		 margin-bottom:20px;
	}
	.form-check{
		@extend .form-check;
		font-size:$mainfontsize;
		.custom-control{
			margin-bottom:0px;
			padding-left:1.6rem;
			.custom-control-indicator{
				top:0.1rem;
			}
		}
	}
	select{
		color:#555555;
	    font-size: 14px;
	    padding: 8px 12px;
    	border-radius: 0.1rem !important;
    	height: auto;
	}
	.price-range_wrapper{
		.ui-slider-horizontal {
		    height: .4em;
		    border:none;
		    background-color:#cccccc;
		    .ui-widget-header{
		    	background-color:$maingreen;
		    }
		    .ui-slider-handle {
			    top: -.4em;
			    background:#fff;
			    border:2px solid $maingreen;
			    border-radius:50%;
			    &:focus{
			    	outline:none;
			    }
			}
		}
	}
}

.filter-top{
	color:#555555;
	font-family: 'Open Sans', sans-serif;
	.filter-icon{
		border:1px solid #cccccc;
		color:#555555;
		padding: 3px 6px;
	    margin-right: 7px;
	    line-height: 1;
	    font-size: 20px;
        height: 28.8px;
        width: 30.25px;
	    .pe-7f-map-marker{
	    	font-size:16px;
	    }
	    &:hover{
	    	color:#fff;
	    	background-color:$maingreen;
	    	transition:.3s all ease-in;
	    }
	}
	.sort-option{
		select{
		    width: 110px;
		    padding: 2px 6px;
		    color:#555555;
		    border:1px solid #cccccc;
		}	
	    label{
	    	color:#999999;
	    }
	    .select-show{
	    	width:60px;
	    }
	}
	@media (min-width: 768px){
		.sort-icon {
		    -ms-flex: 0 0 20%;
		    flex: 0 0 20%;
		    max-width: 20%;
		}
		.sort-option{
			-ms-flex: 0 0 55%;
		    flex: 0 0 55%;
		    max-width: 55%;
		}
		.sort-text{
			-ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		    max-width: 25%;
		}	
	}
}

.section-home{
	margin-bottom:4rem;
	.sidebar_wrapper{
		z-index:2;
		background-color:#565b70;
	}
	.sidebar{
		z-index:2;
		padding:0px;
		a{
			padding:2px 15px;
			border-bottom:0px;
			&.active{
				background-color:$maingreen;
				position:relative;
				.border-bottom{
					border:0px;
				}
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					width: 0;
					height: 0;
					border: 10px solid transparent;
					border-left-color: $maingreen;
					border-right: 0;
					margin-top: -10px;
					margin-right: -10px;
				}
			}

		}
		.border-bottom{
			color: #fff;
		    padding: 0.65rem 1rem;
		    border-bottom: 1px solid #4b5062;
		}
	}
	.title-home{
		color:$maingreen;
		font-weight:600;
		position:relative;
		padding:10px;
		border-bottom:1px solid $maingreen;
		margin-bottom:10px;
	}
	.owl-nav{
		position:absolute;
		right:10px;
		top:10px;
		.btn-owlnav{
			border-radius:50%;
		}
	}
	.img-product_wrapper{
	    height: 104px;
	    width: 102px;
	    margin:0 auto;
	    img{
		    max-height:102px;
		    max-width:100%;
		    margin:0 auto;	    
	    }
	    text-align: center;
	    min-height:104px;
	    max-height:104px;
	    max-width:100%;
	    position:relative;
	    display: flex !important;
	    align-items:center;
	}

	.product-name-height{
		max-height:42px;
		overflow:hidden;
	}
	.browse-product_wrapper{
		.browse-desc{
			color:#222222;
			.product-price{
				font-size:16px;
			}
		}
		.btn-see-all{
			color:#555555;
			border:1px solid #555555;
			border-radius:0px;
			padding:12px 25px;
			font-family:'Gotham-Rounded';
			&:hover{
				color:#fff;
				background-color:$maingreen;
				transition:.3s all ease-in;
			}
		}
		.img_wrapper{
		    height: 174px;
		    width: 174px;
		    img{
			    max-height: 174px;
			    max-width: 100%;
			    margin:0 auto;	    
		    }
		    text-align: center;
		    min-height: 174px;
		    max-height: 174px;
		    max-width: 100%;
		    display: flex !important;
		    align-items:center;
		    position:relative;
		}
		.col-browse{
			padding:15px;
			margin-bottom:10px;
			&:hover{
				transition:.3s all ease-in;
				-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
				.browse-hover{
					opacity: 1;
				    bottom: 0%;
				    visibility: visible;
				}
				.btn-addcart_wrapper{
					opacity:1;
					top:30%;
				    visibility: visible;
				}
			}
			.btn-addcart_wrapper .btn-bggreen{
				padding:6px 12px;
				font-family: 'Open Sans', sans-serif;
			}
			.browse-hover{
				background-color:#fff;
				border-top:1px solid #eeeeee;
				padding:20px 0px 30px;
			}
			.btn-bgwhite{
				padding:6px 7px;
				font-size:16px;
			}
			.browse-hover,
			.btn-addcart_wrapper{
				position: absolute;
				bottom: 0;
			    top: auto;
			    left: 0;
			    right: 0;
				width:100%;
				font-family:'Gotham-Rounded';
				visibility: hidden;
			    opacity: 0;
			    -webkit-transition: all 0.7s ease 0s;
			    -moz-transition: all 0.7s ease 0s;
			    -ms-transition: all 0.7s ease 0s;
			    -o-transition: all 0.7s ease 0s;
			    transition: all 0.7s ease 0s;
			}

		}
	}
	.blog_wrapper{
		position:relative;
		font-family: 'Open Sans', sans-serif;
		.img_wrapper{
			position:relative;
			.date-blog{
				position: absolute;
			    top: 10px;
			    line-height: 1.2;
			    right: 10px;
			    font-size: 12px;
			    background-color: #39b54a;
			    color: #fff;
			    padding: 3px 6px;
			    text-align: center;
			}
		}
		.img_wrapper{
		    height: 167px;
		    width: 320px;
		    img{
			    max-height: 167px;
			    max-width: 100%;
			    margin:0 auto;	    
			    width:auto !important;
		    }
		    text-align: center;
		    min-height: 167px;
		    max-height: 167px;
		    max-width: 100%;
		    display: flex !important;
		    align-items:center;
		    position:relative;
		    .img-overlay:after{
		        margin: 22% auto;
		    }
		}
		.blog-minicontent{
			.title{
				margin-top:5px;
				color:#222222;
				margin-bottom:5px;
				max-height:42px;
				overflow:hidden;
			}
			.summary{
				color:#555555;
			}
		}
	}
	.home-promotion{
		font-family: 'Open Sans', sans-serif;
		margin-bottom:2rem;
		.product-box-top{
			margin-bottom:20px;
		}
		img{
			width:auto;
		}
		.img-product_wrapper{
			border:1px solid #cccccc;
		}
		.product-price{
			font-weight:600;
			.main-price{
				font-size:16px;
				color:#222222;
			}
			.disc-price{
				color:#999999;
			}
		}
	}
	@media (min-width: 992px){
		.col-browse {
		    -ms-flex: 0 0 20%;
		    flex: 0 0 20%;
		    max-width: 20%;
		}	
	}

}

.section-contact{
	font-family:'Gotham-Rounded';
	color:#555555;
	.map_wrapper{
		margin-bottom:30px;
	}
	.title{
		color:$maingreen;
		font-family:'komika';
		font-size:24px;
		text-transform:uppercase;
		margin-bottom:20px;
	}

	.button_wrapper{
		margin-top:30px;
	}

	.contact-comment input,
	.contact-comment textarea{
		@include placeholder{
			color:#999999;
			font-size:$mainfontsize;
		}
	}

	.contact_bottom_wrapper{
		margin-bottom:30px;

		.contact-detail{
			margin-top:35px;
		}

		.contact-us{
			@media (min-width: 768px){
			    -ms-flex: 0 0 45%;
			    flex: 45%;
			    max-width: 45%;
			}
		}
		.contact-comment{
			@media (min-width: 768px){
			    -ms-flex: 0 0 55%;
			    flex: 55%;
			    max-width: 55%;
			}
		}
	}	
}

.section-sitemap{
	.main-content{
		margin-bottom:40px;
	}
	.sitemap-category{
		margin-top:30px;
		.title{
			color:$maingreen;
			font-family: 'Lato', sans-serif;
			font-weight:bold;
			margin-bottom:20px;
		}
		.content{
			margin-bottom:30px;
		}
		.site-box_wrapper{
			margin-bottom:20px;
		}
		.site-box{
			color:#2d3333;
			background-color:#fcfcfc;
			border:1px solid $mainbordercolor;
			text-align:center;
			padding:18px 6px;
			border-radius:2px;
			&:hover{
				text-decoration:none;
				background-color: $maingreen;
				transition:.3s all ease-in;
				color:#fff;
				border:1px solid #399d41;
			}
		}
	}
}

.section-information{
	.main-title{
		margin-bottom:20px;
	}

	.nav-left_wrapper{
		@media (min-width: 768px){
			-ms-flex: 0 0 28%;
		    flex: 0 0 28%;
		    max-width: 28%;
		}
	}
	.info-right_wrapper{
		@media (min-width: 768px){
			-ms-flex: 0 0 72%;
		    flex: 0 0 72%;
		    max-width: 72%;
		}
	}

	.nav-left{
		padding: 0px 25px 0px 15px;
		border-left:5px solid $maingreen;
		border-right:1px solid $mainbordercolor;
		a{
		    padding: 12px 18px;
			color:#4b4b4b;
			border-bottom:1px solid $mainbordercolor;
			font-family: 'Open Sans', sans-serif;
			&:hover{
				color:$maingreen;
				transition:0.3s all ease-in;
			}
			&.active{
				color:$maingreen;
				transition:0.3s all ease-in;
				font-weight:bold;
			}
		}
	}

	.opening-text{
		padding-left:15px;
		color:#222222;
		margin-bottom:35px;
	}

	.info-box_wrapper{
		padding-left: 15px;
		font-family: 'Open Sans', sans-serif;
		.info-box{
			border:0px;
			margin-bottom:30px;
			.card-header{
				color:#222222;
				font-weight:bold;
				background-color:#fcfcfc;
				border:1px solid #eeeeee;
				cursor:pointer;
			}
			.card-body{
				display:none;
				border:1px solid #eeeeee;
				border-top:0px;
				line-height:1.5;
				ol{
					padding-left:15px;
				}
				li{
					padding-left:10px;
				}
				.marginbottom5{
					margin-bottom:5px;
				}
			}
			&.active{
				.card-header{
					color:$maingreen;
				}
				.card-body{
					display:block;
				}
			}
		}
	}
}

.section-blog{
	margin-bottom:20px;
	.list-articles{
		border-bottom:1px solid #cccccc;
	}
	.blog-box{
		margin-bottom:40px;
		 font-family: 'Open Sans', sans-serif;
		 color:#555555;
		.title{
			font-family: 'Lato', sans-serif;
			font-weight:bold;
			text-transform:uppercase;
			margin:20px 0px 10px 0px;
			a{
				color:#222222;
			}
		}
		.date-author{
			color:#555555;
			margin-bottom:10px;
			.date{
				color:#999999;
			}
		}
		.content{
			margin-bottom:20px;
		}
	}
	.nav-oldnew{
		a{
			color:#222222;	
			i{
				font-size:15px;
			}	
		}
		font-family: 'Lato', sans-serif;
		font-weight:bold;
		margin-top:15px;
	}

	.recent-post{
		border:4px solid #cccccc;
		padding: 15px 20px;
		color:#222222;
		.title{
			font-family: 'Lato', sans-serif;
			font-weight:bold;
			text-transform:uppercase;
			padding-bottom:13px;
			margin-bottom:4px;
			border-bottom:1px solid #cccccc;
		}
		.date{
			color:#999999;
			margin-top:5px;
			font-style:italic;
			font-size:12px;
		}
		.title-post{
			a{
				color:#555555;		
				&:hover{
					color:$maingreen;
				}	
			}
			color:#555555;	
		}
		.recent-box{
			border-top:1px solid #cccccc;
			padding:8px 0px;
			.media{
				.title-post{
					line-height: 1.3;
    				margin-top: 5px;
				}
			}
		}
	}
}

.section-rentalagreement{
	.sample-agreement-content{
		color:#222222;
		font-family: 'Open Sans', sans-serif;
		background-color:#fcfcfc;
		border:1px solid $mainbordercolor;
		padding:25px 20px;
		.title{
			font-weight:600;
			text-align:center;
		}
		.agreement-between{
			.col-left{
				padding-right:5px;
			}
			.col-right{
				padding-left:5px;
			}
			hr{
				border-top: 1px solid #3d3d3d;
			}
		}
		p1{
			text-indent:30px;
		}
		p2{
			@extend p1;
			text-indent:40px;

		}
		p3{
			@extend p1;
			text-indent:55px;
		}
	}
}

.section-aboutus{
	.main-content{
		.title{
			@extend .main-title;
			font-size:20px;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:.75em;
		}
		.content{
			color:#555555;
			font-family: 'Open Sans', sans-serif;
			position:relative;
			.percent{
				position:absolute;			
			}
		}
		.quotes{
			font-style:italic;
			border-left:4px solid $maingreen;
			padding-left:15px;
			margin-bottom:15px;
		}
		.progress{
			margin-bottom:1.75rem;
			.progress-bar{
				background-color:$maingreen;
			}
		}
		@media (min-width: 768px){
			.left{
			    -ms-flex: 0 0 48%;
			    flex: 0 0 48%;
			    max-width: 48%;
			}		
			.right{
			    -ms-flex: 0 0 52%;
			    flex: 0 0 52%;
			    max-width: 52%;
			}		
		}

	}
}


.list-product{
	.product-box{
		cursor:pointer;
		position:relative;
		margin-bottom:2.5rem;
		&:hover{
			.product-visiblebutton{
				opacity: 1;
			    bottom: 30%;
			    visibility: visible;
			}
		}
		.img-product_wrapper{
		    height: 232.5px;
		    img{
			    max-height:232.5px;
			    max-width:100%;		    
		    }
		    text-align: center;
		    min-height:232.5px;
		    max-height:232.5px;
		    margin:0 auto;
		    max-width:100%;
		    width: 200px;
		    display: flex;
		    align-items:center;
		    vertical-align: middle;
		    position:relative;
		    justify-content:center;
		}
	}
	.product-desc{
		color:#222222;				
		.product-name{
			font-family: 'Open Sans', sans-serif;
			font-weight:600;					
			font-size:17px;
			text-transform:uppercase;
			margin-bottom:5px;
			a{
				color:#222222;	
				&:hover{
					color:$maingreen;
					transition:.3s all ease-in;
				}
			}
		}
		.product-price{
			.main-price{
				font-size:17px;
				font-weight:bold;
			}
			.disc-price{
				color:#afafaf;
				font-size:13px;
				font-weight:bold;
			}
		}
	}
	.promote{
	    position: absolute;
	    top: 0;
	    right: 0;
	    background-color:$maingreen;
	    padding: 2px 10px;
	    font-size: 24px;
	    color: #fff;
	}
	.product-rating{
		@expand .product-rating;
	}
}

.section-listproduct{
	.list_product_right{
		font-family: 'Lato', sans-serif;
		.title{
			color:#222222;
			font-family: 'Lato', sans-serif;
			font-size:20px;
			text-transform:uppercase;
			font-weight:bold;
		}
	}
	.img-overlay:after{
	    margin: 42% auto;
	}
	.product-name-height{
		max-height:50px;
		overflow:hidden;
	}
}

.section-sortlist{
	.btn-addtocart{
		color:#555555;
		border:1px solid #cccccc;
		&:hover{
			color:#fff;
			background-color:$maingreen;
			transition:.3s all ease-in;
		}
	}
	.product-box{
		padding-bottom:1.25rem;
		margin-bottom:1.25rem;
		border-bottom:1px solid #eeeeee;
		&:hover{
			.button_wrapper{
				opacity: 1;
			    bottom: 0px;
			    visibility: visible;
			}
		}
	}
	.col-media{
	    position: relative;
	    .button_wrapper{
	        position: absolute;
			bottom: 0;
		    top: auto;
		    left: 0;
		    right: 0;
			width:100%;
			font-family:'Gotham-Rounded';
			visibility: hidden;
		    opacity: 0;
		    -webkit-transition: all 0.7s ease 0s;
		    -moz-transition: all 0.7s ease 0s;
		    -ms-transition: all 0.7s ease 0s;
		    -o-transition: all 0.7s ease 0s;
		    transition: all 0.7s ease 0s;
	    }
	}
}

.section-singleproduct{
	.title_wrapper{
		border-bottom:1px solid #eeeeee;
	}
	.img-overlay:after{
	    margin: 42% auto;
	}
	.single-title{
		font-size:20px;
		text-transform:uppercase;
		color:#222222;
		font-family: 'Lato', sans-serif;
		font-weight:bold;
		display:inline-block;
		border-bottom:2px solid #cccccc;
	    padding: 5px 0px;
	    margin-bottom:-1px;
	}
	.single_product_right{
		.mainimg-product_wrapper{
			.owl-top_wrapper{
				position:relative;
				.owl-mainproduct{
					padding:0px 10px;				
				}
				.btn-owlnav{
					position:absolute;
					top:40%;
					z-index:2;
					padding:0px;
					background-color:#686868;
					color:#fff;
					border:1px solid #686868;
					width: 20px;
					height: 23px;
				}
				.owl-mainnext{
					right:0;
				}
			}
			.img-top{
			    height: 298px;
		        width: 100vw;
		        position:relative;
			    img{
				    max-height:298px;
				    max-width:100%;
				    margin:0 auto;    
			    }
			    text-align: center;
			    min-height:298px;
			    max-height:298px;
			    max-width:100%;
			    display: table-cell !important;
			    vertical-align: middle;
				border:1px solid #cccccc;
			}
			.img-product_wrapper{
			    height: 100px;
		        width: 100vw;
			    img{
				    max-height: 100px;
				    width:auto !important;
				    max-width:100%;    
				    margin:0 auto;
			    }
			    text-align: center;
			    min-height: 100px;
			    max-height: 100px;
			    max-width:100%;
			    position:relative;
			    display: table-cell !important;
			    vertical-align: middle;
				border:1px solid #cccccc;
			}
			.violate_wrapper{
				margin-top:5px;
				font-size:12px;
				font-style:italic;
				a,i{
					color:#ed1c24;
					font-size:$mainfontsize;
				}
			}
		}
	}
	.mainproduct-detail_wrapper{
		margin-bottom:30px;
		font-family: 'Open Sans', sans-serif;
		.product-name{
			color:#222222;
			font-family: 'Lato', sans-serif;
			font-weight:bold;
			font-size:24px;
			margin-bottom:10px;
			line-height:1;
		}
		.product-rating-review{
			margin-bottom:10px;
			.product-rating{
				display:inline-block;
				margin-right:15px;
			}
			.review{
				color:#555555;
			}		
		}
		.product-location{
			padding-bottom:12px;
			.location-row{
				margin-bottom:2px;
			}
		}
		.product-price{
			padding:12px 0px;
			.col-price{
				font-size:24px;
				color:#555555;
			}
			.big{
				font-size:24px;
				color:$maingreen;
				font-weight:600;
			}
		}
		.product-status{
			padding:12px 0px;
			line-height:1;
			.border-right{
				border-right:1px solid #555555;			
			}
			.button_wrapper{
				display:inline-block;
				margin-left:0.75rem;
			}
			.btn-bggreen{
				padding:6px 10px;
				font-size:11px;
			}
		}
		.tycoonrating{
			padding:12px 0px;
		}
		.delivery-method{
		}
	}
	.related-product_wrapper{
		position:relative;
		margin-top:15px;
		.owl-nav{
			background: #fff;
		    position: absolute;
		    top: 20px;
		    right: 0px;
		    padding-left:15px;
		}
		img{
		    width:auto !important;
		    margin:0 auto;
		}
		.list-product{
			@extend .list-product;
			margin-top:30px;
		}
		.product-name-height{
		    overflow: hidden;
		    word-wrap: break-word;
		    max-height: 50px;
		}
	}
	.reviews_wrapper{
		.user-name{
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 600;
		    font-size: 17px;
		    margin-bottom: 5px;
		}
		.message-time{
		    font-style: italic;
		    font-size: 12px;
		    color: #c1c1c1;
		}
		.media{
			margin-bottom:15px;
		}
	}
	.product-detail-tabs{
		padding:20px 0px;
		border-bottom:1px solid #eeeeee;
		.nav-tabs{
			color:#555555;
			a{
				border:0px;
				padding:15px 0px;
		        line-height: 1;
		        div{
					border-right:2px solid #cccccc;
			   		padding: 0px 20px;
		        }
			    &:first-child{
			    	div{
			    		padding-left:0px;
			    	}
			    }
			    &:last-child{
			    	div{
			    		border-right:0px;
			    	}
			    }
			    &.active{
			    	border-bottom:2px solid #cccccc;
			    	color:$maingreen;
			    }
			}
		}
		.tab-content{
			margin-top:10px;
			color:#555555;
			font-family: 'Open Sans', sans-serif;
			.tags{
				font-family:'Gotham-Rounded';
				label,.tags-list{
					display:inline-block;
				}
				label{
					margin-right:10px;
				}
				.btn-tags{
					border:1px solid #b7b7b7;
					background-color:#f2f0f0;
					color:#111111;
					font-size:12px;
					border-radius:0px;
					padding:6px;
					margin-right:5px;
					&:hover{
						color:#fff;
						background-color:$maingreen;
						transition:.3s all ease-in;
						border:1px solid $maingreen;
					}
				}
			}
			.note{
				margin-top:15px;
				font-family:'Gotham-Rounded';
				color:#111111;
				b{
					font-family:'Gotham-Rounded-Medium';
				}
			}
		}
	}
	.quantity_wrapper{
		padding:12px 0px;
		.btn{
			border-radius:0px;
			border:1px solid #cccccc;
		    padding: 12px;
		    cursor:pointer;
		}
		.btn-bggreen{
			padding:12px 25px;
		}
		input{
		    padding: 12px;
		}
	}
	.all-items{
		padding:12px 0px;
		i{
			font-size:18px;
			margin-right:5px;
		}
		text-decoration:underline;
	}
	.share_wrapper{
		padding:12px 0px;
		color:#555555;
		.social{
			display:inline-block;
			margin-left:5px;
		}
		a{
			color: #555555;
	    	font-size: 20px;
	    	padding: 0px 5px;
	    	&:hover{
	    		color:$maingreen;
	    		transition:.3s all ease-in;
	    	}
		}
	}
}

.section-404{
	background: url(../images/404.jpg) center 0px no-repeat;
	min-height:650px;
	.left{
		.top{
		    font-family: 'karmatic';
		    font-size:28px;
		    text-align:center;
		    margin-bottom:15px;
		}
		.middle{
			font-family: 'badabb';
		    text-align: center;
		    letter-spacing: 5px;
		    font-size: 200px;
		    line-height: 1;
		    margin-bottom:15px;
		}
		.bottom{
			line-height:1.8;
			margin-bottom:20px;
		}
		.btn-bggreen{
			padding: 10px 25px;
    		border-radius: 0px;
		}
		@media (min-width: 768px){
		    -ms-flex: 0 0 35%;
		    flex: 0 0 35%;
		    max-width: 35%;
		    padding-top: 100px;	
			.bottom{
				margin-bottom:90px;
			}	
		}
	}
}

.dashboard{
	margin-top:2rem;
	margin-bottom:5rem;
	font-family: 'Open Sans', sans-serif;
	.month-filter{
		padding:1rem 0px;
		select{
		    padding: 4px 6px;
		    color: #555555;
		    border: 1px solid #cccccc;
		    width: 140px;
		    margin-left: 10px;
		}
	}
	.content-dashboard {
		.title{
			font-weight:bold;
			color:#595959;
			padding-top:15px;
			padding-bottom:15px;
		}	
	}
	.btn-add{
		vertical-align: middle;
	    display: flex;
	    align-items: center;
		i{
			font-size:26px;
			margin-right:5px;
		}
	}

	.btn-square{
		padding:6px 10px;
		border:1px solid #399d41;
		i{
			font-size:15px;
			margin-right:5px;
		}
	}

	.dashboard-empty{
		text-align:center;
		font-weight:bold;
		font-size:22px;
		padding:40px 0px !important;
	}
	.action_wrapper{
		.select-action{
		    padding: 4px 6px;
		    color: #555555;
		    border: 1px solid #cccccc;
		    width: 130px;
		    margin-left: 10px;
	        margin-top: 1px;
		}
		.btn-action{
			padding: 6px 12px;
		    background-color: #b4b4b4;
		    margin-top: -3px;
		    color: #fff;
		    border-radius: 0px;
		    &:hover{
		    	background-color:$maingreen;
		    	transition:.3s all ease-in;
		    }
		}
		.button_wrapper{
			display:inline-block;
		}
		.action-select{
			input{
			    width: 120px;
			    display: inline-block;
			    border-radius: 0px;
			    padding: 6px 6px;    
			    border: 1px solid #cccccc;
			}
		}
	}

	.table-dashboard{
		th:first-child,
		td:first-child{
			padding-left:0px;
		}
		th,td{
			border-bottom:1px solid #e6e6e6;
		}
		th{
			color:$maingreen;
			font-weight:bold;
		}

		.action_wrapper{
			border-left:1px solid #e6e6e6;
			.action{
			    display: flex;
			    align-items: center;
				.icon_wrapper{
					font-size: 28px;
				    line-height: 1;
				    width: 35px;
				    float: left;
				    text-align:center;
				}
				.icon_delete{
				    font-size: 20px;
				}
				.text_wrapper{
					float:left;
				}
			}
		}
		.form-check{
			margin-bottom:0px;
		}
		.custom-control{
			min-height:1rem;
			margin-right:0px;
		}
		.product-rating{
			@expand .product-rating;
		}
	}
	.sub-title{
		margin-top:.75rem;
		color:$maingreen;
		font-weight:bold;
		padding:8px 0px;
		border-top:1px solid #e6e6e6;
		border-bottom:1px solid #e6e6e6;
	}
}

.dashboard-requestitem{
	.table-requestitem{
		tbody{
			td:nth-child(1){
				width:25%;
			}
			td:nth-child(2){
				width:45%;
			}
			td:nth-child(3){
				width:15%;
			}
			td:nth-child(4){
				width:15%;
			}
		}
	}
	.form-keyword{
		input{
			font-size:$mainfontsize;
		    padding: 6px 12px;
		    border-radius:0px;
			font-family: 'Open Sans', sans-serif;
			@include placeholder{
				color:#dadada;
				font-family: 'Open Sans', sans-serif;
				font-size:$mainfontsize;
			}
		}
		label{
		    padding-left: 0px;
		    padding-right: 0px;
		    justify-content: left;
		}
		.btn-square{
		    padding: 4px 8px;
		    height: 30.8px;
		    color: #fff;
		    border-radius: 1px;
		    i{
		    	font-size:20px;
		    	margin-right:0px;
		    }
		}
	}
	.dashboard-empty {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}
}

.dashboard-requesteditems{
	.table-requesteditems{
		tbody{
			td:nth-child(1){
				width:25%;
			}
			td:nth-child(2){
				width:42%;
			}
			td:nth-child(3){
				width:15%;
			}
			td:nth-child(4){
				width:18%;
			}
		}
	}

	.action_wrapper{
		.action{
		    display: flex;
		    align-items: center;
			.icon_wrapper{
				font-size: 22px !important;
			    line-height: 1;
			    width: 35px;
			    float: left;
			    text-align:center;
			}			
		}
	}
	.form-keyword{
		input{
			font-size:$mainfontsize;
		    padding: 6px 12px;
		    border-radius:0px;
			font-family: 'Open Sans', sans-serif;
			@include placeholder{
				color:#dadada;
				font-family: 'Open Sans', sans-serif;
				font-size:$mainfontsize;
			}
		}
		label{
		    padding-left: 0px;
		    padding-right: 0px;
		    justify-content: left;
		}
		.btn-square{
		    padding: 4px 8px;
		    height: 30.8px;
		    color: #fff;
		    border-radius: 1px;
		    i{
		    	font-size:20px;
		    	margin-right:0px;
		    }
		}
	}
	.dashboard-empty {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}
}


.dashboard-myreferrals{
	.table-myreferrals{
		tbody{
			td:nth-child(2){
				width:37%;
			}
			td:nth-child(3){
				width:37%;
			}
			td:nth-child(4){
				width:10%;
			}
			td:nth-child(5){
				width:10%;
			}
			td:nth-child(6){
				width:10%;
			}
		}
	}
}

.dashboard-claimincome{
	.table-claimincome{
		tbody{
			td:nth-child(2){
				width:30%;
			}
			td:nth-child(3){
				width:40%;
			}
			td:nth-child(4){
				width:15%;
			}
			td:nth-child(5){
				width:15%;
			}
		}
	}
}

.dashboard-invitefriends{
	margin-bottom:5rem;
	.form_wrapper{
		font-family: 'Open Sans', sans-serif;
		margin-top:30px;
		input,textarea{
			font-size:$mainfontsize;
			border:1px solid #e6e6e6;
			border-radius:0px;
			color:#595959;
		}
		.btn-square{
			border-radius:0px;
			padding:6px 12px;
		}
	}
	.share{
		color:#555555;
		font-family: 'Open Sans', sans-serif;
	    display: flex;
	    justify-content: center;
   		align-items: center;
   		span{
   			margin-right:25px;
   		}
		.social{
			display:inline-block;
			a{
				color:#555555;
				font-size:20px;
				padding:0px 5px;
				&:hover{
					color:$maingreen;
				}
			}
		}
	}

	label{
		color:$maingreen;
		font-weight:bold;
	}
}

.dashboard-message{
	.table-messages{
		color:#666666;
		td{
		    padding: 20px 12px;
	        vertical-align: middle;
		}
		th:first-child,
		td:first-child{
			padding-left:12px;
		}
		.action_wrapper{
			border-left:0px;
		}
		tbody{
			td:nth-child(2){
				width:33%;
			}
			td:nth-child(3){
				width:51%;
			}
			td:nth-child(4){
				width:15%;
			}
		}
		.message-datename{
			a{
				text-decoration:underline;
				font-style:italic;			
			}
			.date{
				color:#c1c1c1;
				font-size:12px;
			}
			margin-bottom:0.6rem;
		}
		.row-productdetail{
			justify-content:center;
			align-items:center;
		}	
	}
	.img_wrapper{
		height: 60px;
	    width: 53px;
	    margin-right: 0.25rem !important;
	    img{
		    max-height:60px;
		    max-width: 100%;
		    margin:0 auto;	    
		    width:auto !important;
	    }
	    text-align: center;
	    min-height:60px;
	    max-height:60px;
	    max-width: 100%;
	    display: flex !important;
	    align-items:center;
	    position:relative;
	}
	.dashboard-empty {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}
}

.dashboard-editprofile{
	.row_form{
		margin-top:30px;
	}
	.form_wrapper{
		color:#222222;
		label{
			padding-right:0px;
			line-height:1.3;
		}
		.form-group{
			margin-bottom:1.5rem;
		}
		.col-form-label{
		    line-height: 1.3;
		}
		input, select{
			border-radius:0px;
			color:#303030;
			padding: 10px 12px;
			border-color:#cccccc;
		}
		select{
			height:auto !important;
		}
	}
	.form-control:disabled, .form-control[readonly]{
		background-color:#f5f5ff;
		color:#9a9a9a;
	}
	.btn-pass{
		color:#595959;
		background-color:#f5f5ff;
		border:1px solid #cccccc;
		i{
			margin-right:5px;
		}
		&:hover{
			color:#fff;
			background-color:$maingreen;
			transition:.3s all ease-in;
		}
	}
	.btn-square{
		padding:6px 20px;
		border-radius:0px;
	}
}

.dashboard-manageitem{
	.status-filter{
		text-align:right;
		.sort-status{
			padding: 4px 6px;
		    color: #555555;
		    border: 1px solid #cccccc;
		    width:140px;
		    margin-left:10px;
		}
	}
	.nav-manageitem{
		nav{
			border-bottom:2px solid #e6e6e6;
		}
		li{
			border-bottom:2px solid #e6e6e6;
		    margin-bottom: -2px;
			&:first-child a {
				margin-left:0px;
			}
			a.active{
				font-weight:bold;
				color:$maingreen;
				position: relative;
				&:after {
					content: "";
					width: 100%;
					height: 2px;
					left: 0px;
					bottom: -2px;
					position: absolute;
					background: $maingreen;
				}
			}
		}
		a{
			color:#4b4b4b;
			padding-left: 0px;
			padding-right: 0px;
		    margin-left: 1.5rem;
		}
	}
	.manage-item{	
		color:#595959;
		margin-top:10px;
		.item_wrapper{
			&:first-child{
				border-top:1px solid #e6e6e6;			
			}
			padding:20px 0px 20px;
			border-bottom:1px solid #e6e6e6;
			@media (min-width: 768px){
				.left {
				    -ms-flex: 0 0 65%;
				    flex: 0 0 65%;
				    max-width: 65%;
				}
				.right {
				    -ms-flex: 0 0 35%;
				    flex: 0 0 35%;
				    max-width: 35%;
				    border-left:1px solid #e6e6e6;
				}
			}
			
		}
		.media{
			img{
				width:120px;
			}
			.product-name{
				color:$maingreen;
				font-weight:bold;
			}
			.user-name{
				font-weight:bold;
				text-decoration:underline;
				font-style:italic;
			}
			.media-bottom{
				font-weight:bold;
				color:#595959;
				span{
					margin-right:5px;
					margin-left:5px;
					&:first-child{
						margin-left:0px;
					}
				}
			}
		}
		.item-bottom{
			nav{
				a:first-child{
					padding-left:0px;
				}
				i{
					font-size:18px;
					margin-right:3px;
				}
				a:hover{
					font-weight:bold;
					text-decoration:underline;
					transition:.3s all ease-in;
				}
			}
		}
		.link-right{
			@extend .item-bottom;
			nav{
				a:first-child{
					padding: 0.5rem 1rem;
				}
				i{
					margin-right:5px;
				}
				.orange{
					color:$mainorange;
					font-weight:bold;
				}
				a{
					width:100%;
					height:32px;
					padding:0.4rem 1rem;
				}
			}
		}	
		@media (max-width: 768px){
			.media{
				display:block
			}
		}
	}
	.status_wrapper{
		font-size:12px;
		color:#303030;
		span{
			font-weight:bold;
			&.green{
				color:$maingreen;
			}
			&.orange{
				color:$mainorange;
			}
		}
		.row_status{
			margin-bottom:3px;
		}
	}
}

.dashboard-manageitem-renter{
	.manage-item{
		.item-bottom{
			a{
				padding:0.5rem 0.5rem;
			}
		}
	}
}

.dashboard-manageitem-inventory{
	.manage-item{
		.item_wrapper{
			@media (min-width: 768px){
				.left {
				    -ms-flex: 0 0 65%;
				    flex: 0 0 65%;
				    max-width: 65%;
				}
				.right {
				    -ms-flex: 0 0 30%;
				    flex: 0 0 30%;
				    max-width: 30%;
				    border-left:1px solid #e6e6e6;
				}
				.checkbox_wrapper{
					-ms-flex: 0 0 5%;
				    flex: 0 0 5%;
				    max-width: 5%;
				}
			}		
		}	
	}
	.action_wrapper{
		.select-action{
		    padding: 4px 6px;
		    color: #555555;
		    border: 1px solid #cccccc;
		    width: 130px;
		    margin-left: 10px;
		}
		.btn-action{
			padding: 6px 12px;
		    background-color: #b4b4b4;
		    margin-top: -3px;
		    color: #fff;
		    border-radius: 0px;
		    &:hover{
		    	background-color:$maingreen;
		    	transition:.3s all ease-in;
		    }
		}
		.button_wrapper{
			display:inline-block;
		}
	}
}

.dashboard-halloffame{
	.halloffame-box{
		.title{
			padding:8px;
			text-align:center;
			background-color:$maingreen;
			color:#fff;
		}
	}
	.dashboard-empty{
		font-size:18px;
	    border-top: 1px solid #e6e6e6;
	    border-bottom: 1px solid #e6e6e6;
	    margin-top:1rem;
	}
	.table-dashboard{
		th{
			text-align:center;
			&:first-child{
				text-align:left;
			}
		}
		td{
			text-align:center;
		}
		tfoot{
			color:$maingreen;
			font-weight:bold;
		}
	}
	.table-income{
		td{
			&:nth-child(1){
				width:58%;
				text-align:left;
			}
		}
	}
	.table-rating{
		th{
			&:nth-child(2){
				text-align:left;
			}
		}
		td{
			&:nth-child(1){
				width:15%;
				text-align:left;
			}
			&:nth-child(2){
				width:65%;
				text-align:left;
			}
		}
	}
}

.dashboard-message-chat{
	.table-message-chat{
		th:first-child,
		td:first-child{
			padding-left:1rem;
			width:33%;
		}
	}
	.chat-row{
		.time-chat{
			font-size:11px;
			color:#cdcdcd;
			margin-top:5px;
		}
		.bubble-chat{
			padding:6px 12px;
			display:inline-block;
			border-radius:5px;
		}
		margin-bottom:20px;
		&:last-child{
			margin-bottom:0px;
		}
	}
	.chat-row-grey{
		.bubble-chat{
			background-color:#f5f5ff;
			color:#666666;
		}
	}
	.chat-row-green{
		float:right;
		.bubble-chat{
			background-color:$maingreen;
			color:#fff;
		}
	}
	.td-mainchat{
		padding:0px;
	}
	.chat_wrapper{
		.date-chat{
			color:#666666;
			background-color:#f5f5ff;
			border:1px solid #b4b4b4;
			display:inline-block;
			font-size:11px;
			padding:2px;
			margin-bottom:10px;
		}
		height: 280px;
		padding:12px;
	    overflow-y: scroll;
	    padding-right: 20px;
	}
	.reply_wrapper{
		padding:1.2rem 1rem;
		.text{
			font-size:12px;
		}
		.btn-square{
			border-radius:0px;
		}
		textarea{
			border-radius:0px;
			@include placeholder{
				color:#b4b4b4;
			}
		}
	}
	.img_wrapper{
		height: 60px;
	    width: 53px;
	    margin-right: 0.25rem !important;
	    img{
		    max-height:60px;
		    max-width: 100%;
		    margin:0 auto;	    
		    width:auto !important;
	    }
	    text-align: center;
	    min-height:60px;
	    max-height:60px;
	    max-width: 100%;
	    display: flex !important;
	    align-items:center;
	    position:relative;
	}
}

.section-checkout{
	.title{	
		font-size:30px;	
	}
	color:#222222;
	font-family: 'Open Sans', sans-serif;
	.card{
		border-color:#eeeeee;
		.card-header{
			color:#222222;
			font-size:$mainfontsize;
			font-family: 'Open Sans', sans-serif;
			font-weight:bold;
			background-color:#fcfcfc;
			border-color:#eeeeee;
		}
		.card-body{
		    padding: 1.75rem 1.25rem;
		}
	}
	.total-payment{
		text-transform:uppercase;
		font-size:20px;
		font-weight:bold;
	}

	input,select{
		border-radius: 0px;
	    color: #303030;
	    padding: 10px 12px;
	    height:auto !important;
	    border-color: #cccccc;
	    @include placeholder{
	    	color:#a7a7a7;
	    }		
	}
	.row_form{
		label{
		    line-height: 1.3;
		}
		.custom-control{
			min-height:16px;				
    		padding-left: .75rem;
		}
		.custom-control-input{
			height:16px !important;
		}
		.form-group{
			min-height:52.8px;
		}
		.btn-bggreen{
			padding:6px 30px;
		}
	}

	.payment-option{
		.border-left{
			line-height:1.6;
			border-left:1px solid #c1c1c1;
			padding-top:0.75rem;
			padding-bottom:0.75rem;
		}
	}
	.button_wrapper{
		.btn-bggreen{
			padding:6px 30px;
		}
	}
	.table-checkout{
		border:0px;
		color:#555555;
		min-width:970px;
		.date-picker + i{
			right:15px;
		}
		thead,tbody{
			border: 1px solid #e9ecef;
		}
		th,td{
			align-items:center !important;
			vertical-align:middle !important;
		}
		td.row-vendor{
			padding:15px;
			background-color:#fafafa;
			font-size:14px;
			a{
				text-decoration:underline;
				font-style:italic;
				font-weight:600;
			}
		}
		th{
			background-color:#fafafa;
			border-right:0px;
			border-left:0px;
			color:#555555;
		    padding: 5px 12px;
			&:nth-child(1){
				width:auto;
			}
			&:nth-child(2),
			&:nth-child(5){
				width:25%;
			}
			&:nth-child(3){
				width:2%;
				text-align:center;
			}
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8){
				width:8%;
				text-align:center;
			}
		}
		.row-empty{
			font-weight:bold;
			text-align:center;
			font-size:18px;
			color:$mainorange;
		}
		.form-check{
			margin-bottom:0px;
		}
		.custom-control{
			margin-right:0px;
			margin-bottom:0px;
		    padding-left: 15px;
	        min-height: 1rem;
		}
		.img-product_wrapper{
		    height: 60px;
		    width: 60px;
		    img{
			    max-height:60px;
			    max-width:100%;	    
		    }
		    text-align: center;
		    min-height:60px;
		    max-height:60px;
		    max-width:100%;
		    position:relative;
		    display: table-cell !important;
		    vertical-align: middle;
		}
		tbody{
			td{
				padding:25px 15px;
				&:nth-child(1){
					width:auto;
				}
				&:nth-child(2),
				&:nth-child(5){
					width:25%;
				}
				&:nth-child(3){
					width:2%;
					text-align:center;
				}
				&:nth-child(6),
				&:nth-child(7),
				&:nth-child(8){
					width:5%;
					text-align:center;
				}
			}

		}
		
		.row-productdetail{
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		}
		tfoot{
			td{
				border:0px;
				padding: 20px 0px;
				font-size:20px;
				color:#555555;
			}
		}
	}
	.step1_wrapper{
		.button_wrapper{
			.form-check a{
				color:$maingreen;
				&:hover{
					text-decoration:none;
					color:#339b41;
				}
			}
		}
	}
	.table-total{
		margin-top:2rem;
		margin-bottom:2rem;
	    border: 1px solid #cdcdcd;
		td,th{
			text-align:center;
			font-size:20px;
			font-weight:bold;
			border-top:0px;
		}
		th{
			color:#555555;
			border-bottom:1px solid #cdcdcd;
		}
		td{
			color:$maingreen;
		}
	}
	.coupon-disc_wrapper{
		margin-top:1rem;
		margin-bottom:2rem;
		.input-group{
			border: 1px solid #cdcdcd;
			input{
				border-radius: 0px;
    			border: 0px;
			}
			.btn{
				padding: 8px 12px;
    			border-radius: 0px;
			    font-size: 16px;
			    background-color: #fff;
			}
		}

	}
	.btn-checkout{
		color:#555555;
		border:1px solid #555555;
		font-weight:bold;
		border-radius:0px;
		padding:10px 25px;
		&:hover{
			color:#fff;
			background-color:$maingreen;
			transition:.3s all ease-in;
		}
	}
}

.modal-paymentmethod{
	.modal-body{
		.total-payment{
			color:#222222;
			font-size:20px;
			font-weight:bold;
			text-transform:uppercase;
		}
		.payment-option .border-left {
		    line-height: 1.6;
		    border-left: 1px solid #c1c1c1;
		    padding-top: 0.75rem;
		    padding-bottom: 0.75rem;
		}
		.custom-radio{
			margin-right: 0px;
		}
	}
}

.modal-evaluate{
	.modal-body{
		.product-rating{
			a{
				&:hover{
					i{
						color:#ff9728 !important;					
					}
				}
			}
		}
		.feedback-icon{
			position:relative;
			display:inline-block;
			margin-right:0.75rem;
			a{
				&:hover{
					.img-green{
						opacity:1;
						transition:.3s all ease-in;
					}
				}
			}
			a.active{
				.img-grey{
					opacity:0;
					transition:.3s all ease-in;
				}
				.img-green{
					opacity:1;
					transition:.3s all ease-in;
				}
			}
			.img-grey{
				opacity:1;
			}
			.img-green{
				position:absolute;
				top:0;
				left:0;
				opacity:0;
			}
		}
	}
}

.modal-multiple{
	.upload-link{
		a{
			&:hover{
				font-weight:bold;
				text-decoration:underline;
				transition:.3s all ease-in;
			}
		}
	}
	select{
	    padding: 10px 15px !important;
	}
	.btn-uploadfile{
		color:#999999;
		background-color:#e6e6e6;
		text-transform:uppercase;
	}
	.fileUpload {
	    position: relative;
	    overflow: hidden;
	    margin-top: 10px;
	}
	.fileUpload input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}
	.filename{
		color:$maingreen;
		font-style:italic;
		margin-top:.5rem;
	}
	.removefile{
		color:$mainorange !important;
		i{
			font-size:18px;
		}
	}
}

.section-home-landing{
	.padding-home{
		padding-left:60px;
		padding-right:60px;
	}
	.banner-top{
		background-image:url('../images/landing-home.png');
		background-position:100% center;
		min-height:550px;
		.row{
			min-height:550px;
		}
		.bg-grey{
			background:rgba(86,91,112,.5);
		}
		.col-left{
			text-align:center;
			.slogan{
				font-family:'Komika';
				font-size:21px;
				color:#fff;
			}
			.search-home{
				font-family:'Gotham-Rounded';
				.input-group{
				    width: 95%;
    				margin: auto;
					padding: 6px 6px 6px 10px;
				    background-color: #fff;
				    border-radius: 25px;
				    input{
				    	border-radius: 25px;
    					border: 0px;
    					font-size:18px;
    					margin-right:5px;
    					@include placeholder{
    						color:#737373;
    						font-family:'Gotham-Rounded';
    					}
				    }
				    .btn{
				    	border-top-left-radius: 20px;
				    	border-bottom-left-radius: 20px;
   						font-family:'Gotham-Rounded-Medium';
   						font-size:18px;
   						color:#fff;
   						&:hover{
   							color:$maingreen;
   						}
				    }
				}
			    .text{
			    	color:#fff;
			    }
			}
		}
	}
	.advantage{
		margin-top:60px;
		margin-bottom:60px;
		.advantage-box{
			color:#3d3d3d;
			font-size:18px;
			font-family:'karmatic';
			text-align:center;
			border:1px solid #dadada;
			border-radius:10px;
			padding:15px 12px;
			.green{
				font-family:'Komika';
				font-size:30px;
			}
		}
		.advantage-list_wrapper{
    		font-family:'Gotham-Rounded';
    		.title{
	    		font-family:'Gotham-Rounded-Medium';
    			font-weight:bold;
    			font-style:italic;
    			color:#3d3d3d;
    			margin-bottom:5px;
    		}
    		.custom-list{
    			color:#3d3d3d;
    			padding-left:20px;
    			list-style-image:url('../images/icon/list-style-home.png');
    		}
		}
	}
	.testimony{
	    padding: 0px 30px;
		.title{
			font-family:'komika';
			color:#3d3d3d;
			font-size:30px;
			.arrow-icon{
				display:inline-block;
				margin-right:10px;
				img{
				-moz-transform: scaleX(-1);
		        -o-transform: scaleX(-1);
		        -webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		        filter: FlipH;
		        -ms-filter: "FlipH";
				}
			}
		}
		.testimony-box{
			.bubble{
				font-family:'karmatic';
				position:relative;
    			margin: 0 auto;
				color:#3d3d3d;
				.text{
					text-align:center;
					top:10%;
    				position: absolute;
				}
			}
			.bubble1{
				background: url(../images/icon/bubble1.png) no-repeat;
    			min-height: 182px;
    			width: 206px;
    			.text{    				
					padding: 5% 10%;
    			}
			}
			.bubble2{
				background: url(../images/icon/bubble2.png) no-repeat;
    			min-height: 185px;
    			width: 226px;
    			.text{    				
					padding: 7% 10%;
    			}
			}
			.bubble3{
				background: url(../images/icon/bubble3.png) no-repeat;
    			min-height: 161px;
    			width: 226px;
    			.text{    				
					padding: 17% 1% 4% 10%;
    			}
			}
			.testimony-bottom{
				text-transform:uppercase;
				.name-position{
					.name{
						font-size:24px;
						color:#3d3d3d;
						font-family:'karmatic';
						line-height:0.7;
						span{
							font-family:'kartika';
							font-size:28px;
						}
					}
					.position{
						font-size:18px;
						color:$maingreen;
						font-family:'karmatic';
					}
				}
			}
		}
	}

	.tutorial{
		.text-slogan{
			color:#303030;
			font-family:'komika';
			font-size:28px;
			text-align:center;
			line-height:1;
			margin-top:1rem;
			.bottom{
				font-size:44px;
			}
		}
		.top{
			.media-body{
				font-size:24px;
				color:#3d3d3d;
				font-family:'karmatic';
			}
		}
		.bottom{
			margin-top:2rem;
			.tutorial-list{
				line-height:1.3;
				color:#3d3d3d;
				font-weight:bold;
				font-family:'Gotham-Rounded-Medium';
				padding-left:20px;
				span{
					font-weight:normal;
					font-family:'Gotham-Rounded';
				}
			}
		}
	}

	.why{
		margin-top:60px;
		margin-bottom:60px;
		.title{
			color:#3d3d3d;
			font-size:30px;
			font-family:'komika';
			text-align:center;
			margin-bottom:30px;
		}
		.content{
			padding-top:120px;
			position:relative;
		}
		.why-button_wrapper{
			position:absolute;
			left:25%;
			.why-button{
				position:relative;
			}
			.input-group{
				width:auto;
				&:hover{
					.input-group-addon{
						background-color:$maingreen;
						transition:.3s all ease-in;					
					}
					+.hover-text{

						.top{
							font-family:'karmatic';
							font-size:18px;
							transition-duration: .75s;
					        transition-property: opacity;
					        opacity:1;
							transition-timing-function:  ease-in-out;
						}
						.bottom{
							font-family:'architext';
							font-size:35px;
							font-weight:bold;
							transition-duration: 1s;
					        transition-property: opacity;
					        opacity:1;
							transition-timing-function: ease-in-out;
						}
						&:after{
							content:url('../images/icon/arrow2.png');
						    position: absolute;
						    bottom: 0;
						    transition-duration: .5s;
					        transition-property: opacity;
					        opacity:1;
							transition-timing-function: ease-in;
						}
					}
				}
				.input-group-addon{
					background-color:#565b70;
				}
				.why-text{
					font-family: 'karmatic';
				    font-size: 25px;
				    color: #fff;
				    text-align: center;
				    height: 45px;
				    margin-top: 15px;
				    width: 100%;
				    padding: 8px 15px 8px 20px;
				    border: 0px;
				    border-radius: 15px;
				    border-top-right-radius:0px;
				    border-bottom-right-radius:0px;
				    margin-right: -10px;
				}
				.why-icon{
					border-radius: 50%;
				    padding: 15px;
				    border: 0px;    
				    height: 85px;
    				width: 85px;
    				min-width:85px;
    				img{
    					margin:0px auto;
    				}
				}
			}
			.hover-text{
				color:#303030;
				width:249px;
				position:absolute;
				.top{
					font-family:'karmatic';
					font-size:18px;
					opacity:0;
				}
				.bottom{
					font-family:'architext';
					font-size:35px;
					font-weight:bold;
					opacity:0;
				}
				&:after{
					content:url('../images/icon/arrow2.png');
				    position: absolute;
				    bottom: 0;
					opacity:0;
				}
			}
		}
		.why-button-left{
			.hover-text{
				top: -60%;
    			right: 70%;
				.top{
					transform: rotate(-10deg);
				}
				.bottom{
				    transform: rotate(-10deg);
				}
				&:after{
					content:url('../images/icon/arrow2.png');
					right: 10%;
				}
			}
			&.why-top-1{
			}
			&.why-top-2{
	    		left: 17%;
			}
			&.why-top-3{
	    		left: 15%;
			}
			&.why-top-4{
	    		left: 9%;
			}
		}
		.why-button-right{
			left:auto !important;
			right:25%;
			.hover-text{
				top: -60%;
    			left: 75%;
				.top{
					transform: rotate(10deg);
				}
				.bottom{
				    transform: rotate(10deg);
				}
				&:after{
					content:url('../images/icon/arrow2.png');
					left: 10%;
					 transform: scaleX(-1);
				}
			}
			.input-group{
				.why-text{
					font-family: 'karmatic';
				    font-size: 25px;
				    color: #fff;
				    text-align: center;
				    height: 45px;
				    margin-top: 15px;
				    width: 100%;
				    padding: 8px 15px 8px 20px;
				    border: 0px;
				    border-radius: 15px;
				    border-top-left-radius:0px;
				    border-bottom-left-radius:0px;
				    margin-left: -10px;
				}
				.why-icon{
					border-radius: 50%;
				    padding: 15px;
				    border: 0px;    
				    height: 85px;
					width: 85px;
					min-width:85px;
					img{
						margin:0px auto;
					}
				}
			}
			&.why-top-1{
				right:31%;
			}
			&.why-top-2{
	    		right: 20%;
			}
			&.why-top-3{
	    		right: 13%;
			}
			&.why-top-4{
	    		right: 15%;
			}
		}
		.why-top-1{
			top:0;
		}
		.why-top-2{
			top: 90px;
		}
		.why-top-3{
			top: 190px;
		}
		.why-top-4{
			top: 300px;
		}
	}
}

.dashboard-addproduct{
	@extend .dashboard-editprofile;
	.form_wrapper{
		.input-group{
			.input-group-addon{
			    border-radius: 0px;
			    font-size:14px;
			    padding: 8px 10px;
			    background-color: #fff;
			}
			.currency{
			    background: #fff;
			    border-right: 0px;
			    padding: 8px 6px 8px 10px;
			}
			input.noborder-left{
			    border-left: 0px;
			    padding: 10px 3px;
			}
		}
		.group-upload{
			.btn-upload {
				margin-bottom: 10px;
			}
			.text{
				color:#c1c1c1;
				font-size:12px;
			}
		}
		.custom-control-indicator {
		    top: 0.1rem;
		 }
	}
}

.product-map{
	margin-bottom:0px !important;
	width:280px;
	img{
		width:100px;
		height:100px;
	}
	.main-price{
		font-size:20px !important;
	}
	.disc-price{
		font-size:14px !important;
	}
	.product-rating{
		margin-top:5px !important;
	}
}

.section-renterprofile{
	@extend .section-sortlist;
    padding: 30px 0px;
    .avail-status{
    	margin-bottom:5px;
    }
    .img-overlay{
    	&:after{
    		margin:65% auto;
    	}
    }
    .title-border{
    	color:$maingreen;
    	padding:5px 0px;
    	border-top:1px solid #ccc;
    	border-bottom:1px solid #ccc;
    	font-weight:bold;
    }
    .user-information{
    	padding:30px 0px;
    	.form-group{
    		margin-bottom:5px;
    	}
    	.form-control-plaintext,
    	.col-form-label{
    		padding-top:0px;
    		padding-bottom:0px;
    	}
    	.feedback-icon_wrapper{
    		img{
    			height:25px;
    		}
    	}
    }
    .dashboard-empty {
    	width: 100%;
    	text-align: center;
    	font-weight: bold;
    	font-size: 22px;
    	padding-top: 10px;
    	padding-bottom: 40px;
    	border-bottom: 1px solid #e6e6e6;
    }
}

/*KEYFRAMES*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
